.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.columns {
  display: flex;
  gap: 36px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 120px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: rgb(74 165 127);
}

.numbersColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
