.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.submit_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  border: 2px dashed var(--text-color-inactive);
  border-radius: var(--common-border-radius-s);
}
