.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 40px 40px;
}

.content {
  display: flex;
  gap: 60px;
}

.ordersList {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  max-height: 900px;
  overflow-y: auto;
}

.stats {
  width: 580px;
}
